.logo{
    width: 105px;
    height: 52px;
    background-color: #e60012;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: white;
    /* border-radius: 20px; */
}


.icon_effect:hover{
color:#e60012;
}
.search_box{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(72, 72, 72);
    height: 2.125rem;
    width: 40%;
}
@media (max-width:768px) {
    .header_wrapper{
        background-color: #e60012;
    }

    .nav{
        width: 100%;
        height: calc(60px + 1rem);
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        position: absolute;
        bottom: 10px;
        display: flex;
        right: 50%;
        /* transform: translateX(-50%); */
        z-index: 1000;
    }

    .nav_hide{
        display: none;
    }

}