@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --bg_color:#ffffff;
  --button_color:#e60012;
}

/* general */
body{
  font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #484848;
}
ul{
  text-decoration: none;
}
.m_10{
  margin-top: 100px;
}

.wrapper{
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

/* end general */